<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hello World</h1>
  <form ga-event-name="Form Submit" action="/mail" method="post">
    <input name="email" type="text">
    <button type="submit">Submit</button>
  </form>
  <a href="https://google.com">Google</a>
  <a href="/" ga-event-name="Link Click"><span>Home</span></a>
  <!-- <button ga-event-name="New Sale">Make Sale</button> -->
  <button ga-event-name="New Sale" ga-revenue-amount="20" ga-revenue-currency="USD">Make Sale</button>
  <script src="/tag/min.js?debug=true"></script>
</body>

</html>