<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"
    integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <a href="/">Home</a>
  <canvas id="chart" style="width:100%; height: 100vh;"></canvas>
  <script>
    const data = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [{
        label: 'Visitors',
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
          '#78bbfa',
        ],
      },
      {
        label: 'Views',
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
          '#cae8ff',
        ],
        borderColor: [
          '#78bbfa',
        ],
        borderWidth: 1
      }],
    };

    const config = {
      type: 'bar',
      data: data,
      options: {
        scales: {
          y: {
            stacked: true,
            beginAtZero: true,
          },
          x: {
            stacked: true,
          },
        },

      },
    };

    const myChart = new Chart("chart", config);
  </script>
</body>

</html>