<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello World</h1>
  <form track-event-name="Form Submit" action="#">
    <input type="text">
    <button type="submit">Submit</button>
  </form>
  <a href="https://google.com">Google</a>
  <button track-event-name="New Sale">Make Sale</button>
  <button track-event-name="New Sale" track-revenue-a="20" track-revenue-c="USD">Make Sale</button>
  <script data-domain="devhost:3000" src="/js/track.js?f=custom,revenue"></script>
</body>
</html>